# Node
node_modules/
**/node_modules/

# caches
**/.cache/
**/.parcel-cache/
**/.next/
**/.nuxt/
**/.vite/

# build outputs
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*